/**********************************************************************/
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

#progress-container {
  z-index: 1;
  width: 100%;
  width: 100%;
  height: 2px;
  background: #ccc;
}

#progress-bar {
  height: 2px;
  background: #008cff;
  width: 0%;
}
/**********************************************************************/
.accordion {
  border-left: 5px solid #35a;
  border-radius: 5px;
  padding-left: 18px;
  cursor: pointer;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.panelitems {
  padding: 0px 18px;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease-out;
}

.panel {
  text-align: left;
  background-color: white;
  box-shadow: 2px 3px 5px grey;
  margin: 4px 8px;
  border-radius: 10px;
  border-style: solid;
  border-color: lightgrey;
  padding: 16px 16px;
}
/**********************************************************************/
.page {
  text-align: center;
  background-color: #eeed;
  border-radius: 12px;
  border-width: 1px;
  padding: 16px 16px;
  margin: 16px 10%;
}
/**********************************************************************/
.menu {
    margin: 0px;
    width: 100%;
}

.menu ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #333a;
}

.menu li a {
    float: left;
    margin: 0px;
    padding: 16px 32px;
    font-size: 20px;
    text-decoration: none;
    color: white;
    text-transform: capitalize;
    transition: 0.2s;
}

.menu li a:hover {
    background-color: #09f5;
}
