body {
    font-family: gill sans, calibri, lato, sans;
    margin: 1em;
    color: #000;
    background-color: #bbb;
}

footer, header {
    background-color: grey;
    padding: 6em;
    margin: 0em -1em 1em -1em;
}

#ads {
    background-color: #aaa;
    /* float: right; */
    /* display: inline-block; */
    padding: 1em 2em;;
}

#page {
    background-color: white;
    display: fixed;
    floating: none;
    padding: 0.5em 1em;
    margin: 1em 0em;
}